{
  "rules": {
    "no-fallthrough": 2,
    "no-console": 0,
    "no-unused-vars": 0,
    "no-redeclare": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": "off",
    "no-case-declarations": "off",
    "prefer-spread": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "none"
      }
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "{}": false,
          "Object": false,
          "Function": false
        },
        "extendDefaults": true
      }
    ],
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  }
}
